body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif !important;
}
.index_img_text {
    position: relative;
    overflow: hidden;
}
a {
    text-decoration:none !important;
}
.index-zhuanlan_anli a {
    color: white;
}
.index_text {
    position: absolute;
    left: 0px;
    bottom: -100px;
    transition: bottom 0.5s;
    -webkit-transition: bottom 0.5s; /* Safari */
}
.index_img_text:hover .index_text {
    bottom: 6px;
    background-color: red;
}

.index-zhuanlan {
    width: 100%;
    height: 100%;
}
.boss {
    background-color: rebeccapurple;
    width: 100%;
    height: 100%;
}

.index-anli > ul {
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: space-around;
    align-content: space-around;
}

.index-anli > ul > li{
    list-style: none;
}

.index-anli > ul > li > div {
    width: 350px;
    height: 280px;
    border: 1px solid;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}
.index-anli > ul > li > div > div {
    width: 350px;
    height: 150px;
    background-color: rgb(137, 165, 137,0.3);
    position: absolute;
    bottom: -90px;
    transition: 0.5s;
    -webkit-transition: 0.5s; /* Safari */
}
.index-anli > ul > li > div > div > div {
    display: flex;
    justify-content: start;
    padding: 6px 10px;
    /* background-color: rgba(144, 137, 165, 1); */
    border: 0px;

}
.index-anli > ul > li > div > div > p {
    padding-top: 16px;
    font-size: 16px;
}
.index-anli > ul > li > div:hover div{
    bottom: 0px;
    background-color: rgba(148, 151, 148, 0.8);
}

.index-main {
    margin: 0px auto;
    width: 90%;
    /* padding-top: 200px; */
    /* background-image: url('../assets/img/index-start.png'); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.index-ao {
    padding-top: 60px;
}
.index_ao_hot {
    margin-top: 30px;
    width: 90%;
    height: 400px;
    /* min-height: 200px; */
    background-color: lightblue;
}

.index-ao > ul {
    padding: 0px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}
.index-ao > ul > li {
    list-style: none;
    margin: 0px auto;
    width: 360px;
}
.index-ao > ul > li > img {
    margin: 0px auto;
    width: 100%;
    height: 160px;
}
.index-hz {
    /* background-color: red; */
}
.index-hz > ul {
    width: 90%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.index-hz > ul > li {
    width: 360px;
    height: 300px;
}

.index-hz > ul > li > div {
    width: 100%;
}
p {
    width: 100%;
    /* word-break:break-all; */
    word-wrap:break-word;
}
.index_ao_hot {
    margin: auto 0px;
    width: 100%;
}
.index_al {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
}
.index_al > .el-card {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    /* background-color: yellow; */
    width: 300px;
    height: 450px;
    align-self: flex-start;
}

.index_al > .el-card > .el-card__body > a {
    display: block;
    position: relative;
}
.index_al > .el-card > .el-card__body > a > p {
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    padding-top: 20px;
    position:absolute;
    bottom: -10px;
    font-size: 10px;
    /* left: 20px; */
}
.index_al > .el-card > .el-card__body > a > p > a {
    color: rgb(99, 96, 102);
}
.index_al > .el-card > .el-card__body > a > p > a:hover {
    color: rgba(13, 120, 153, 0.719);
}

.index-hotcity {
    display: flex;
    justify-content: flex-start;
    padding-top: 16px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}